DATABASE_URL=postgresql://nutri:nutri@localhost:3100/nutri
DATABASE_USER=nutri
DATABASE_PASSWORD=nutri
DATABASE_NAME=nutri
DATABASE_PORT=3100

REDIS_PORT=3200
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=redis_docker
REDIS_USERNAME=default
