DATABASE_URL=postgresql://nutri:nutri@localhost:3109/nutri
DATABASE_USER=nutri
DATABASE_PASSWORD=nutri
DATABASE_NAME=nutri
DATABASE_PORT=3109

REDIS_PORT=3110
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=redis_docker
REDIS_USERNAME=default
